<div class="container">

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <img src="public\assets\img\burger.png">

            <h2>Eat-Da-Burger!</h2>


        </div>

    </div>

    {{!--
    <ul>
        {{#each cats}} {{#unless sleepy}} {{> cats/cat-block sleep=true}} {{/unless}} {{/each}}
    </ul>

    <h2>Cats that are sleepy!</h2>

    <ul>
        {{#each cats}} {{#if sleepy}} {{> cats/cat-block sleep=false}} {{/if}} {{/each}}
    </ul> --}}

    <div class="row">

        <div class="col-md-4">

            {{#each burgers}} 
                {{#unless devoured}}
                    <div class="well">
                        {{id}}. {{burger_name}}
                    </div>
                {{/unless}}
            {{/each}}




        </div>


        <div class="col-md-4">

            {{#each burgers}}
                <button id="{{id}}" type="button" class="btn btn-secondary btn-sm devour" data-newdevour="{{devoured}}">Devour it!</button>
                <br>
                <br> 
            {{/each}}


        </div>


        <div class="col-md-4">

            {{#each burgers}} 
                {{#if devoured}} 

                     <div class="well">
                        {{id}}. {{burger_name}}
                    </div>
                    {{!-- {{> cats/cat-block sleep=false}}  --}}
                {{/if}} 
            {{/each}}


        </div>


    </div>



    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <textarea class="form-control" rows="3" id="burger-box" placeholder="Enter A Burger Name!"></textarea>
            <button type="submit" id="burger-submit" class="btn btn-primary btn-lg btn-block">Submit!</button>

            <p>Enter a burger you want to eat & then click the "Submit" button.</p>


        </div>
    </div>



</div>